.cat7subnametext1,
.cat7subnametext2,
.categorythumbnailnametext7 {
  text-decoration: none;
  position: relative;
  line-height: 30px;
  color: inherit;
}
.categorythumbnailnametext7 {
  font-weight: 700;
}
.cat7subnametext1,
.cat7subnametext2 {
  letter-spacing: 0.02em;
}
.cat7subnametext2 {
  display: inline-block;
  margin-top: -12px;
}
.categoryframe7,
.subcategoriesframe7 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subcategoriesframe7 {
  align-self: stretch;
  height: 138px;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
  font-family: var(--font-arimo);
}
.categoryframe7 {
  height: 100%;
  flex: 1;
  border-radius: var(--br-xs);
  background: linear-gradient(
    114.16deg,
    rgba(237, 226, 239, 0.65),
    rgba(253, 249, 254, 0.7) 8.33%,
    rgba(255, 255, 255, 0.81) 33.33%,
    rgba(255, 255, 255, 0.55) 68.75%,
    #ebfaff
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-smi);
  min-height: 254px;
  max-height: 411px;
}
.and8categoriesrowframe {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-noto-serif-bengali);
}
@media screen and (max-width: 1050px) {
  .and8categoriesrowframe {
    flex: unset;
    align-self: stretch;
  }
}
@media screen and (max-width: 590px) {
  .and8categoriesrowframe,
  .categoryframe7 {
    flex: unset;
    align-self: stretch;
  }
  .and8categoriesrowframe {
    flex-direction: column;
  }
}
